<div class="vehicles-container" fxLayout="column wrap" fxLayoutAlign="space-between center" fxLayoutGap="2%">
  <mat-card *ngIf="isVehicle(vehicle)" class="card" fxFlex="18%">
      <mat-card-header>
          <mat-card-title>{{ vehicle?.model }}</mat-card-title>
          <mat-card-subtitle>{{ vehicle?.type }}</mat-card-subtitle>
      </mat-card-header>
      <img matCardImage [src]="vehicle?.imageUrl">
      <mat-card-content>
          {{ vehicle?.description }}
      </mat-card-content>
      <mat-card-actions align="end">
          <button (click)="unbooking(vehicle?._id)" color="primary" mat-button>
            <span>Devolver</span>
          </button>
      </mat-card-actions>
  </mat-card>

  <div *ngIf="!isVehicle(vehicle)" class="not-vehicles" fxLayout="column" fxLayoutAling="center center">
    <img width="200px" style="margin-left: -33px;" src="assets/no-data.png" alt="">
    <span>Você não possuí reservas</span>
  </div>

  <button (click)="goToHome()" color="primary" mat-button>
    <span>Ver todos veículos</span>
  </button>
</div>
