<div class="vehicles-container" fxLayout="row wrap" fxLayoutAlign="space-between center" fxLayoutGap="2%">
  <mat-card class="card" fxFlex="18%">
      <mat-card-header>
          <mat-card-title>{{ car?.model }}</mat-card-title>
          <mat-card-subtitle>{{ car?.type }}</mat-card-subtitle>
      </mat-card-header>
      <img matCardImage [src]="car?.imageUrl">
      <mat-card-content>
          {{ car?.description }}
      </mat-card-content>
      <mat-card-actions align="end">
          <button (click)="unbooking(car?._id)" color="primary" mat-button>
            <span>Devolver</span>
          </button>
      </mat-card-actions>
  </mat-card>
</div>
