<div class="vehicles-container" fxLayout="column wrap" fxLayoutAlign="space-between center" fxLayoutGap="2%">

  <div class="header" fxLayout="column" fxLayoutAlign="center center">
      <h1>Conheça a nossa Frota</h1>
      <p>
        As melhores condições para você reservar e aproveitar
      </p>
  </div>

  <div fxLayoutGap="3%">
    <mat-card [class.vehicle-is-user]="vehicle.user" *ngFor="let vehicle of vehicles" class="card" fxFlex="20%">
        <mat-card-header>
            <mat-card-title>{{ vehicle.model }}</mat-card-title>
            <mat-card-subtitle>{{ vehicle.type }}</mat-card-subtitle>
        </mat-card-header>
        <img matCardImage [src]="vehicle.imageUrl">
        <mat-card-content>
            {{ vehicle.description }}
        </mat-card-content>
        <mat-card-actions align="end">
            <button *ngIf="!vehicle.user" color="primary" (click)="booking(vehicle._id)" mat-button>
              <span>Reservar</span>
            </button>
            <button *ngIf="vehicle.user" [disabled]="true" color="primary" mat-button>
              <span>Veículo indisponível</span>
            </button>
        </mat-card-actions>
    </mat-card>
  </div>
</div>
