<div class="vehicles-container" fxLayout="row wrap" fxLayoutAlign="space-between center" fxLayoutGap="2%">
  <mat-card *ngFor="let car of cars" class="card" fxFlex="18%">
      <mat-card-header>
          <mat-card-title>{{ car.model }}</mat-card-title>
          <mat-card-subtitle>{{ car.type }}</mat-card-subtitle>
      </mat-card-header>
      <img matCardImage [src]="car.imageUrl">
      <mat-card-content>
          {{ car.description }}
      </mat-card-content>
      <mat-card-actions align="end">
          <button color="primary" mat-button>
            <span>Reservar</span>
          </button>
      </mat-card-actions>
  </mat-card>
</div>
